<div id="settings-portal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">My Settings</h2>
      </div>
      <div class="modal-body">
        <div id="info_update_response"></div>
        <div class="row">
          <div class="col-md-4">
            <h3>File Versioning</h3>
            <table class="table table-hover">
              <tr>
                <td>File Versioning:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
              <tr>
                <td>Versions number limit:</td>
                <td><input type="text" size="2"></td>
              </tr>
              <tr>
                <td>Show versioned files in clients:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
            </table>
          </div>
          <div class="col-md-4">
            <h3>Security Settings</h3>
            <table class="table table-hover">
              <tr>
                <td>Enable Two Factor authentication:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
              <tr>
                <td>SSL mode active:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
            </table>
          </div>
          <div class="col-md-4">
            <h3>Trash</h3>
            <table class="table table-hover">
              <tr>
                <td>Use trash for deleted files:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
              <tr>
                <td>Enbale trash for updates:</td>
                <td><input checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" data-size="mini" ></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
